<template>
	<view class="container">
		<view class="page-section swiper">
                <view class="page-section-spacing">
                    <swiper class="swiper" :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval" :duration="duration" indicator-active-color='white'>
                        <swiper-item>
                            <view class="swiper-item uni-bg-red">A</view>
                        </swiper-item>
                        <swiper-item>
                            <view class="swiper-item uni-bg-green">B</view>
                        </swiper-item>
                        <swiper-item>
                            <view class="swiper-item uni-bg-blue">C</view>
                        </swiper-item>
                    </swiper>
                </view>
        </view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				background: ['color1', 'color2', 'color3'],
            	indicatorDots: true,
            	autoplay: true,
            	interval: 2000,
            	duration: 500
			}
		},
		onLoad() {

		},
		methods: {

		}
	}
</script>

<style lang='scss' scope>
	.container {
		.swiper{
			height: 280upx;
			width: 100%;
			background: green;
		}
	}
</style>
